@model IEnumerable<EmployeeManagementSystem.Common.ViewModel.UserViewModel>

@{
    ViewData["Title"] = "View";
}






<div class="row">
    <div class="col-12">
        <div class=" d-flex justify-content-between align-items-center py-2">
            <div class="page-title">Kullanıcılar</div>
            <div class="page-title-right">
                <button class="btn btn-primary" onclick="location.href='@Url.Action("NewUser", "User")'">Kullanıcı Ekle</button>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @if (Model != null)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                 <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
                            </tr>
                        </thead>
                        <tbody>


                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-start">
                                        @Html.DisplayFor(modelItem => item.FirstName)
                                    </td>
                                    <td class="text-start">
                                        @Html.DisplayFor(modelItem => item.LastName)
                                    </td>
                                    <td class="text-end">
                                        <a href="@Url.Action("UserDetail","User",item)" class="btn btn-sm text-secondary">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a class="text-secondary" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" data-userid="@item.UserId">

                                           <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert alert-danger">
                        Kullanıcı bulunamadı.
                    </div>
                }
            </div>
        </div>

    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-3 shadow">
            <div class="modal-body p-4 text-center">
                <h5 class="mb-0">Kullanıcı silinsin mi?</h5>
                <p class="mb-0">Seçilen kullanıcıyı silmek istediğinize emin misiniz?</p>
            </div>
            <div class="modal-footer flex-nowrap p-0"> 
                    <form method="post" action="DeleteUser" class="d-flex w-100" id="deleteForm">
                        <input type="hidden" id="deleteUserId" name="userId" />
                        <button type="submit" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 border-end"><strong>Sil</strong></button>
                        <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0" data-bs-dismiss="modal">İptal Et</button>
                    </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Butona tıklama olayını tetikleyen buton
            var userId = button.data('userid'); // Butonun data-userid attribute'undan UserId'yi al
            var modal = $(this);
            modal.find('#deleteUserId').val(userId); // UserId'yi modal içindeki gizli input'a set et
        });
    });
</script>

