@model IEnumerable<EmployeeManagementSystem.Common.ViewModel.UserViewModel>

@{
    ViewData["Title"] = "View";
}

<p>
    <a asp-action="NewUser">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>      
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                    <a href="@Url.Action("UserDetail","User",item)" class="btn btn-info text-white">
                        <i class="fa fa-edit"></i> Edit
                    </a>
                    <a href="@Url.Action("Delete")" class="btn btn-danger">
                        <i class="fa fa-trash"></i> Delete
                    </a>
                </td>
        </tr>
}
    </tbody>
</table>
